.navbar{
    display: flex;
    width: 100%;
    padding: 50px 150px;
    align-items: center;
}
.logo{
    width: 20%;
}
.logo img{
    max-width: 150px;
}
.navigation{
    width: 80%;
    display: flex;
    justify-content: flex-end;

}
.nav-item{
    margin: 0 10px;
}
.nav-item a{
    color: black;
    font-family: "quicksand", sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.nav-item > .active{
    font-weight: bold;
}